@charset "UTF-8";
body{
    background-image: url(images/hikari.webp);
    background-repeat: no-repeat;
    background-size: cover;
    animation: flash 3s infinite linear;
}
@keyframes flash {
            0% { filter: brightness(1); }
            45% { filter: brightness(1); }
            50% { filter: brightness(1.8); }
            55% { filter: brightness(1); }
            100% { filter: brightness(1); }
}
h1{
    font-family: fantasy;
    font-size: 50px;
    text-align: center;
    color: rgb(137, 142, 12);
}
h2{
    font-family: gothic;
    font-size: 25px;
    color: rgb(147, 19, 19);
}
h3{
    font-family: gothic;
    font-size: 20px;
    color: rgb(6, 6, 6);
}
.new{
    color: #fff;
    background: #0bd;
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    animation-name: new-animation;
    animation-duration: 2s;
    animation-iteration-count: 8;
    animation-timing-function: ease-in-out;
    margin: 20px 0;
}
@keyframes new-animation {
    0%,50%,100% { transform: translateY(0); }
    25% { transform: translateY(-25px); }
    75% { transform: translateY(-15px); }
}