.video-wrapper {
    width: 100vw;        /* 画面幅いっぱい */
    height: 100vh;       /* 画面高さいっぱい */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;    /* はみ出しを隠す */
}

.intro-video {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 文字が切れないように収める */
}
body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}