@charset "UTF-8";
html{
    font-size: 100%;
}
body{
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.7;
    color: rgb(212, 124, 202);

    background-color: #000;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
/*レイアウト */
.align-center {
    text-align: center;
}
/*見出し */
.font-englisy {
    font-family: "Philosopher", sans-serif;
    font-weight: normal;
}
.page-title {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.4;
}
/*ヘッダー
--------------------------------- */
.page-header {
    padding-top: .5rem;
}
.logo {
    width: 210px;
}
.main-nav {
    display: flex;
    justify-content: center;
    gap: 10.0rem;
    font-size: 1.5rem;
    list-style: none;
    padding-top: 1.0rem;
}
.main-nav a {
    color: rgb(211, 135, 154);
}
.main-nav a:hover {
    color: #0bd;
}
.cover {
    background-size: cover;
    background-position: center bottom;
    height: 1050px;
}
.cover-home {
    background-image: url(images/yama7.webp);
}
body{
    background-image: url(images/yama7.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.enter-btn{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(9, 9, 9);                 
    background-color: transparent;/* 中塗りなし（透明） */
    cursor: pointer;              /* ホバーで指マーク */
}