@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.7;
    color: #432;

    /* あなたが望む青背景（初期状態） */
    background-color: #000;
    background-image: url(images/yama2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* レイアウト */
.align-center {
    text-align: center;
}

/* 見出し */
.font-english {
    font-family: "Philosopher", sans-serif;
    font-weight: normal;
}

.page-title {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.4;
}

/* ヘッダー */
.page-header {
    padding-top: .5rem;
}

.logo {
    width: 210px;
}

/* ナビ（初期の紫っぽい色＋元のサイズ） */
.main-nav {
    display: flex;
    justify-content: center;
    gap: 10rem;
    font-size: 1.5rem;   /* ←元の大きさ */
    list-style: none;
    padding-top: 1rem;
}

.main-nav a {
    color: rgb(150, 112, 75);   /* ←初期の紫っぽい色 */
}

.main-nav a:hover {
    color: #0bd;
}
.cover {
    background-size: cover;
    background-position: center bottom;
    height: 1050px;
}
.cover-home {
    background-image: url(images/yama2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative; /* ★これが必須！ */
    height: 100vh;      /* 階段を画面いっぱいに見せる */
}

.copyright{
    text-align: center;
    padding: 23rem 0;
    margin-top: 6rem;
    color:white
}
#visitor-counter {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.6rem;  
}
#visitor-counter img {
    filter: drop-shadow(0 0 3px #000);
}
.flash-bg {
    animation: flash 4s infinite;
}

@keyframes flash {
    0%   { filter: brightness(1); }
    5%   { filter: brightness(1.8); } /* 一瞬だけ明るくする */
    10%  { filter: brightness(1); }
    100% { filter: brightness(1); }
}

