@charset "UTF-8";
html{
    font-size: 100%;
}
body{
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.7;
    color: rgb(190, 255, 106);

    background-color: #000;
}
a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
img {
    max-width: 100%;
}
/*レイアウト */
.align-center {
    text-align: center;
}
/*見出し */
.font-englisy {
    font-family: "Philosopher", sans-serif;
    font-weight: normal;
}
.page-title {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.4;
}
/*ヘッダー
--------------------------------- */
.page-header {
    padding-top: .5rem;
}
.logo {
    width: 210px;
}
.main-nav {
    display: flex;
    justify-content: center;
    gap: 10.0rem;
    font-size: 1.5rem;
    list-style: none;
    padding-top: 1.0rem;
}
.main-nav a {
    color: rgb(248,2,2);
}
.main-nav a:hover {
    color: #0bd;
}
.cover {
    background-size: cover;
    background-position: center bottom;
    height: 1050px;
}
.cover-home {
    background-image: url(images/yama3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative; /* ★これが必須！ */
    height: 100vh;      /* 階段を画面いっぱいに見せる */
}

.btn-shine {
    position: relative;
    padding: 0.8rem 1.2rem;
    border: 0;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 8px;
    color: #fff;
    background-color: rgb(4, 140, 219);
    overflow: hidden;

    display: inline-block;
    margin-left: auto;
    margin-right: 2rem; /* ← 右寄せ調整 */
    white-space: nowrap;     /* 折り返し禁止 → 縦書き防止 */
}

.btn-shine a {
    color: rgb(244, 240, 10);
    text-decoration: none;
}

.btn-shine::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        120deg,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,.6) 50%,
        rgba(255,255,255,0) 100%
    );
    transform: skewX(-20deg);
    transition: .5s;
}

.btn-shine:hover::before {
    translate: 300% 0;
}
.btn-wrapper {
    text-align: right;   /* ← これだけで右寄せになる */
    margin-right: 55rem;  /* ← 好きな余白に調整 */
}

@media (max-width: 600px) {
    .btn-wrapper {
        margin-right: 2rem;
        text-align: right;
    }

    .btn-shine {
        display: inline-block;
        white-space: nowrap;
        padding: 0.8rem 1.2rem;
        font-size: 1.2rem;

        width: auto;          /* ← 横幅を持たせる */
        align-self: flex-end; /* ← 右端へ移動 */
        margin-right: 2rem;
    }
}

